<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkhAWpU4Thq8II62mVXXFaFuVSz7EZtTc</string>
	<key>GCM_SENDER_ID</key>
	<string>957671811855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internshipVuagao.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>derasoft-ass1</string>
	<key>STORAGE_BUCKET</key>
	<string>derasoft-ass1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957671811855:ios:ba005d973d93895b32ac7a</string>
</dict>
</plist>